.board {
  background-color: aquamarine;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;  
}

.cell {  
  border-right: 1px dashed rgba(0,0,0,0.2);
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  text-align: center;  
}

.ship {
  background-color: red;
}