.game {
  display: flex;
  margin-left: auto;
  margin-right: auto; 
}


.grid {
  background-image: url('/images/ocean.jpg');
  background-size: cover;
  border: 3px solid black; 
  margin-top: 30px;
}

.turn {
  margin-top: 0;
  border: 10px solid red; 
}

.row {
  display: flex;
}

.cell {
  border-right: 1px dashed rgba(0,0,0,0.2);
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  text-align: center;
}

.ship {
  background-color: rgba(100,100,100,0.3);
}

.hit {  
  background-image: url('/images/fire.gif');
  background-size: cover;
}

.miss {
  background-image: url('/images/DeadFish.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.sunk {
  background-color: rgba(180,50,50,0.6);
}

.animation {
  width: 100%
}
