body{
  background: linear-gradient(to bottom right,#555, #222) fixed;
  background-size: cover;
}

.game {
  display: flex;
  margin-left: auto;
  margin-right: auto;   
}

.gridSurround {
  padding: 50px ;
  border: 3px solid black;
  border-radius: 10px;
  background-color: darkslategrey;
}
.gridSurroundTurn {
  padding: 43px ;
  border: 3px solid black;
  border-radius: 10px;
  background-color: darkslategrey;
}

.settings {
  width: 30%;
  margin-left: 35%;
  margin-top: 10vh;
  border: 4px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: oldlace;
}


.grid {
  position: relative;
  background-image: url('/images/ocean.jpg');
  background-size: cover;
  border: 3px solid black; 
  margin-top: 0px;
}
.shipImg {
  position: absolute;
  top: 0; 
  z-index: 1; 
}

.turn {
  margin-top: 0;
  border: 10px solid red; 
}

.row {
  display: flex;
}

.cell {
  position: relative;
  border-right: 1px dashed rgba(0,0,0,0.2);
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  padding: 0;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 8em;
  font-family: 'Frijole', cursive;
  color: rgb(0, 0, 25);
}

h2 {
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 4em;
}

h3 {
  padding: 0;
  margin: 10px;
  text-align: center;
  font-size: 2em;
}

.ship {
  background-color: rgba(50,50,50,0.4);
}

.hiddenShip {
  background-color: rgba(50,50,50,0.0);
}

.hit {  
  background-image: url('/images/fire.gif');
  background-size: cover;
}

.miss {
  background-image: url('/images/DeadFish.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.sunk {
  background-color: rgba(180,50,50,0.6);
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

button {
  display: block;
  margin: 20px auto;
  padding: 0.7em 1.7em;
  border-radius: 0.2em;
  box-sizing: border-box;
  background-color: #3369ff;
  color:#FFFFFF;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}


