.board {
  background-image: url('/images/ocean.jpg');
  background-size: cover;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.cell {
  border-right: 1px dashed rgba(0,0,0,0.2);
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  text-align: center;
}

.ship {
  background-color: rgba(100,100,100,0.2);
}

.hit {  
  background-image: url('/images/fire.gif');
  background-size: cover;
}

.miss {
  background-image: url('/images/DeadFishArt.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.sunk {
  background-color: rgba(50,50,50,0.4);
}
